.heading{
	text-align: center;
	font-family: 'Signika', sans-serif;
	text-shadow: 4px 2px grey;
	
	color: black;
	font-size: 50px;

	
}
.content{
	text-align: left;
	font-family: 'Source Sans Pro' , sans-serif;
	font-size: 25px;
	font-weight: bold;
	height:400px;
	width:600px;
	display: inline-block;
	margin-left: 200px;
	margin-top:105px; 


}
.sideimage{
	height:250px;
	width:342px;
	background-image: url("assests/weblogo2.jpg");
	float: right;
	margin-top:80px; 
	display: inline-block;
	margin-right: 100px;
	opacity:0.6;
	transition-property: opacity;
	transition-duration: 1s;
	border-radius: 50px 50px;
	

}
.text{
	height:500px;
	width:100hv;
	transition-property: text-decoration,background-image;

}


.sideimage:hover{
	opacity: 1;


}
.text:hover{
	
	text-decoration: underline;
 background-image:url("assests/bg99.jpg");
	margin: 0;
}
body
{
margin: 0;
padding:0;
}
